
* {
  font-feature-settings: 'liga' 1;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: auto !important;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: overlay;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  touch-action: none !important;
}

body {
  @include scrollable(#352E2E, transparent);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
